// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icone blue bar
.footer-buy-icon {
    height: 50px;
    width: auto;
}


.hero-image-container {
    width: 100%;
    max-height: 300px;
    /* oppure un valore fisso, es. 350px */
    overflow: hidden;
    position: relative;
}

.hero-image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: top;
    /* mostra la parte superiore dell'immagine */
}

.footer {
    background-size: cover; // l'immagine copre tutto il div
    background-position: center; // centra l'immagine
    background-repeat: no-repeat; // evita che si ripeta
    max-height: 500px;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    z-index: 0;

    h5 {
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }


    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

#dc-logo-footer {
    position: absolute;

    top: -50px;
    right: 5%;
    z-index: -1;
}